---
import "../shared/assets/styles/global.css";

import { Subheader } from "@/shared/components/headers/Subheader";
import { WidgetCanvas } from "@/widgets/WidgetCanvas";
import { WidgetHeader } from "@/widgets/WidgetHeader";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Data Bubbles</title>
  </head>
  <body>
    <WidgetHeader client:load />
    <Subheader
      title="Sousou no Frieren"
      subtitle="Принимать вызовы — значит инвестировать в себя"
    />
    <section>
      <WidgetCanvas client:load />
    </section>
  </body>
</html>
