---
import "@/shared/assets/styles/global.css";

import { WidgetPageIndex } from "@/widgets/WidgetPageIndex";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link type="image/png" sizes="16x16" rel="icon" href="./favicon-16.png" />
    <link type="image/png" sizes="32x32" rel="icon" href="./favicon-32.png" />
    <link type="image/png" sizes="96x96" rel="icon" href="./favicon-96.png" />

    <meta name="generator" content={Astro.generator} />
    <title>Data Bubbles</title>
  </head>
  <body>
    <WidgetPageIndex client:only />
  </body>
</html>
